.nav-box {
  height: 30vh;
  width: 30vh;
  margin: 2vw;
  background-color: azure;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

.nav-box-container {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.results-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#result-header-city {
  margin-right: 2vw;
}