.flight-search-widget {
  background-color: rgba(255,255,255,0.9);
  display: none;
  height: 90%;
  margin: 1%;
  padding: 1%;
  min-width: 300px;
  align-self: center;
}

@media only screen 
  and (min-device-width: 600px) 
  and (max-device-width: 800px) {  
    .flight-search-widget {
      min-width: 500px;
    }
}

@media only screen 
  and (min-device-width: 400px) 
  and (max-device-width: 600px) {  
    .flight-search-widget {
      min-width: 350px;
    }
}

@media only screen 
  and (max-device-width: 400px) {  
    .flight-search-widget {
      min-width: 300px;
    }
}