.about {
  height: 90vh;
  background-image: url("/assets/sunset_spires.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: bottom;
}

#title {
  margin: 0;
  padding: 1%;
}

.youtube-container {
  height: 40vh;
  margin: 0 auto;
  max-width: 600px;
}

.text-content {
  background-color: rgba(255,255,255,0.9);
  margin: auto 10%;
  padding: 2%;
}

#hashtag-we-are-nomadz {
  margin: 0 auto;
}

.community {
  margin: 0;
  margin-bottom: 1%;
  font-weight: 600;
}

.mission {
  margin-bottom: 1%;
  font-weight: 300;
}

#instagram-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#instagram {
  margin: 0;
  margin-left: 2%;
}