.home-container {
  background-image: url("/assets/rocky_ocean.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: bottom;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.home-header {
  margin: 5vh auto;
}

.query-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 3%;
  /* align-items: flex-start; */
}

.query-title {
  font-size: 1.3rem;
  background-color: rgba(255,255,255);
}

.location-display {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.current-selection {
  font-size: 1.5rem;
  margin: 0 5px;
}

.query {
  height: 30vh;
  width: 20vw;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

button {
  font-family: "Didot";
  font-weight: 800;
  width: 20vw;
  border: none;
  padding: 1rem 2rem;
  margin: 0 auto;
  margin-bottom: 5vh;
  text-decoration: none;
  background: #ffffff;
  color: #000000;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  -webkit-transition: background 250ms ease-in-out, 
              -webkit-transform 150ms ease;
  transition: background 250ms ease-in-out, 
              -webkit-transform 150ms ease;
  -o-transition: background 250ms ease-in-out, 
              transform 150ms ease;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  transition: background 250ms ease-in-out, 
              transform 150ms ease, 
              -webkit-transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #93c2fb;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  -webkit-transform: scale(0.99);
      -ms-transform: scale(0.99);
          transform: scale(0.99);
}

@media only screen 
  /* and (min-device-width: 320px)  */
  and (max-device-width: 600px) {
    .home-container {
      height: 91vh;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
    }

    .query-title {
      font-size: 1.5rem;
    }

    .query-container {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -ms-flex-line-pack: distribute;
          align-content: space-around;
    }

    .query {
      /* height: 20vh; */
      width: 40vw;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column;
              flex-flow: column;
      -ms-flex-item-align: center;
          align-self: center;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      padding-top: 0;
    }
}