.footer {
  height: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(255,255,255);
  /* margin-top: 5px; */
  padding: 1vh 2vw;
}

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

p {
  margin: 0 0 0 5px;
  font-size: 0.8rem;
}

.copyright {
  margin-right: 5px;
}

@media only screen 
  and (min-device-width: 400px) 
  and (max-device-width: 600px) {
    p {
      font-size: 0.5rem;

    }
}

@media only screen 
  /* and (min-device-width: 320px)  */
  and (max-device-width: 400px) {
    p {
      font-size: 7px;

    }
}