.header-nav {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  background-color: rgb(255,255,255);
  padding: 2vh 4vw;
}

a {
  height: 100%;
  font-size: 2rem;
}

#home {
  justify-self: center;
}