.header-nav {
  height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(255,255,255);
  margin: 0 2vw; /* make all margins to side of screen this */
}

.nav-container {
  display: flex;
  align-items: center;
}

a {
  color: rgb(0,0,0);
  height: 100%;
  font-size: 0.8rem;
  margin: auto 0 auto 1vw;
}

#home {
  justify-self: center;
}
