.header-nav {
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255,255,255);
  margin: 0 2vw; /* make all margins to side of screen this */
}

a {
  color: rgb(0,0,0);
  height: 100%;
  font-size: 1.5rem;
  margin: auto 0 auto 1vw;
}

#home {
  justify-self: center;
}